version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:5100
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - "5100:5100"
